<section class="query">
  <h1>How AnalyseEther Works</h1>
  <div class="container">
    <div class="queryIntro">
      <h3>Query</h3>
      <p>
        Query the whole ethereum block-chain in seconds.
        <p>
          We provide rich dataset of all blocks, transactions, uncles, logs and contract traces in a queryable form.
          Explore the whole block-chain data using simple sql queries and derives new insights.
        </p>
      </p>
    </div>
    <div class="queryVideo">
      <iframe
        src="https://www.youtube.com/embed/pviC2wJKplw?rel=0"
        style="outline: none;border: none;"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
      >
      </iframe>
    </div>
  </div>
  <div class="container container2">
    <div class="queryVideo">
      <iframe
        src="https://www.youtube.com/embed/7hbmSz9luoU?rel=0"
        style="outline: none;border: none;"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
      >
      </iframe>
    </div>
    <div class="queryIntro">
      <h3>Visualize</h3>
      <p>
        Visualize multiple queries into coherent dashboards.
        <p>
          Choose from bar charts, pie charts, scatter and bubble graphs to visualize trends in the block-chain.
          Combine several visualizations into coherent dashboards.
        </p>
    </div>
  </div>
  <div class="container">
    <div class="queryIntro">
      <h3>Share</h3>
      <p>
        Share your analysis or create real-time alerts.
        <p>
          Share dashboards with public and earn a portion of the ad-revenue.
          Create real-time alerts for your queries and share it with your slack or email groups.
        </p>
      </p>
    </div>
    <div class="queryVideo">
      <iframe
        src="https://www.youtube.com/embed/Bha3i_bXD1g?rel=0"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
        style="outline: none;border: none;"
      >
      </iframe>
    </div>
  </div>
</section>
