@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html,body {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #262b3e;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

section {
  background-color: #262b3e;
}
.intro {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;

}
.intro .logo {
  font-size: 5rem;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
.intro .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro h1 {
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top:10px;
  margin-bottom: 10px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
}
.intro h2 {
  max-width: 620px;
  margin: 0 auto 64px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.73;
  letter-spacing: .4px;
}
.grid-row {
  display: flex;
  flex-direction: row;
  padding:10px;
  padding-bottom:25px;
}
.grid-3 {
  flex:1;
  padding-right: 20px;
  margin-left:20px;
  float:left;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subscribe {
  background: #F2F2F7;
  position: absolute;
  bottom:0px;
  width: 100%;
}
.beta {
  background-position: inherit;
  padding:5rem 0;
}
.beta h2 {
  color: white;
  line-height: 1;
  text-align: center;
  margin: 0;
}
.beta .subheading {
  color: white;
  font-size: 2em;
  margin: 20px auto;
  text-align: center;
}
#login {
  text-align: center;
}
#login input {
  width: 30%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  border-radius: 15px;
}
#login #btnSignIn {
  margin-top: 25px;
  outline: none;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding: 15px 30px;
  box-shadow: 0 6px #267e99;
  background-color: #4bb8da;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
}
#login #btnSignIn:hover {
  box-shadow: 0 4px #267e99;
  top: 2px;
}
.subscribe .fa {
  font-size: 30px;
  color: #4bb8da;
  padding: 15px;
  border-radius: 2px
}
.subscribe h3 {
  margin:0;
}
footer.footer {
  background-color: white !important;
}
.container {
  margin: 0 30px;
}
footer .container {
  display:flex;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-direction: column;
}
footer .container .about-us {
  flex:1;
  text-align: center;
  margin-bottom: 30px;
}
.about-us p {
  margin: 5px 0;
  padding: 0;
  font-size: 15px;
}
footer .container .contact-us {
  flex:1;
  text-align: center;
}
.contact-us p {
  margin: 5px 0;
  padding: 0;
  font-size: 15px;
}
.container ul {
  padding-left: 0;
  list-style: none;
}
.container ul li {
  margin-right: 30px;
  display:inline-block;
}
.container ul li a {
  color: #4bb8da;
}
.container .contact-us ul li a i {
  font-size: 30px;
}
.contact-us ul li:last-child {
  margin-right: 0px;
}
footer .copyright {
  text-align: center;
  padding: 15px;
  background-color: #262b3e;
  color:white;
}
.copyright .privacyText {
  color: #8a9da4;
  margin: 0;
  font-size: .8rem;
}

.query {
  background: white;
  padding: 1rem 0;
}
.query h1 {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
}

.query .container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  margin:0;
  padding: 40px;
}
.query .queryIntro {
  flex:1;
}
.queryIntro h3 {
  margin: 0;
}
.query .queryVideo {
  flex:1;
  margin: 0 30px;
}
.query .queryVideo iframe {
  width: 100%;
  height: 320px;
}
.query .container2 {
  background-color: #262b3e;
  color: white;
}
.query .container2 .queryVideo {
  margin: 0;
}
.query .container2 .queryIntro {
  margin: 0 30px;
  color: #f2f2f2;
  font-size: 15px;
}
.contact-us .medium {
  color: black;
}
.queryIntro {
  color: #444444;
  font-size: 15px;
}
.top_header{
  opacity: 0;
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: #262b3e;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
.top_header div {
  padding: 0 15px;
  font-weight: 700;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.top_header a {
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

@media only screen and (max-width : 768px) {
  .query .container {
    flex-direction: column;
  }
  .query .container2 {
    flex-direction: column-reverse;
  }
  .query .container2 .queryVideo {
    margin: 30px 0;
  }
  .query .container2 .queryIntro {
    margin : 0;
  }
  .query .queryVideo {
    margin: 30px 0;
  }
  #login input  {
    width: 70%;
  }
  .top_header .top_header_container {
    flex: 1;
    justify-content: space-between;
    display: flex;
    text-align: center;
  }
  .top_header_container a {
    color: white;
    font-size: 18px;
    margin-right: 15px;
    flex: 1;
    justify-content: space-around;
  }
}
